/* #region body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
/* #endregion body */

/* #region header */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 0 auto;
    margin: auto;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}

.header-logo .logo-part {
    color: #2e2f42;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    display: flex;
    font-style: normal;
    margin-left: 332px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* #endregion header */

/* #region hero */
.hero {
    background-color: #2e2f42;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.02em;
}

.hero-button {
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endregion hero */

/* #region features */
.features-title-h {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    line-height: 1.2;
}


.features-paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
/* #endregion features */


/* #region our team */
.title-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-member {
    background-color: #ffffff;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.our-team {
    background: #f4f4fd;
}

.section-our-portfolio {
    background: #ffffff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
/* #endregion our team */

/* #region our portfolio */

.section-our-portfolio {
    background-color: #ffffff;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.h-our-team {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
}

.team-member {
    background-color: #FFFFFF;
}
/* #endregion our portfolio */

/* #region footer */
.footer-logo {
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}

.footer-description {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion footer */